h1{
    color: rgb(255, 1, 1);
    text-align: center;
}
.head{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
   
}