h1{
    color: darkblue;
    text-align: center;
}
.head1{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}